@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@300;400&display=swap');

:root {
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Roboto', sans-serif;

    --light-bg: #e3e7d3ff;
    --light-highlight: #bdc2bfff;
    --light-text: #25291cff;
    --light-accent: #e6e49fff;

    --dark-bg: #25291cff;
    --dark-highlight: #989c94ff;
    --dark-text: #e3e7d3ff;
    --dark-accent: #bdc2bfff;
}

body {
    font-family: var(--font-secondary);
    background-color: var(--light-bg);
    color: var(--light-text);
    transition: background-color 0.3s ease, color 0.3s ease;
}

h1, h2, h3, h4 {
    font-family: var(--font-primary);
}

a {
    color: var(--light-text);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.dark-mode {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

.dark-mode a {
    color: var(--dark-text);
}

.card {
    border: none;
    background-color: var(--light-highlight);
}
.dark-mode .card {
    background-color: var(--dark-highlight);
}

.btn-primary {
    background-color: var(--light-accent);
    border-color: var(--light-accent);
    color: var(--light-text);
}
.btn-primary:hover {
    background-color: var(--light-highlight);
    border-color: var(--light-highlight);
}

.dark-mode .btn-primary {
    background-color: var(--dark-accent);
    border-color: var(--dark-accent);
    color: var(--dark-text);
}
.dark-mode .btn-primary:hover {
    background-color: var(--dark-highlight);
    border-color: var(--dark-highlight);
}

.navbar {
    transition: background-color 0.3s ease;
}