{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div class="text-center mt-5">
  <h1>Welcome to Reedmaker Studio!</h1>
  <p class="lead">This is a platform for learning, sharing and discussing reedmaking. This is a platform for all of us who loves to discuss reeds in every aspect. If you are addicted to news and stories about reedmaking, you have come to the right place!</p>
  <a href="{% url 'reed_list' %}" class="btn btn-primary mt-3">See all reeds</a>
</div>
{% endblock %}