/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@300;400&display=swap');

/* color and fonts */
:root {
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
  --color-primary: #ffffffff; /* white */
  --color-secondary:#e5f3fb; /* platinum */ 
  --color-accent-dark: #145116; /* darker green */ 
  --color-accent: #048a04; /* green */ 
  --color-accent-light: #90f090; /* green */ 
  --text-dark: #14213dff; /* oxford blue */
  --text-normal: #2b2d42; /* graphite */  
  --text-light: hsl(51, 77%, 88%); /* light yellow */
}

body {
  font-family: var(--font-secondary);
  background-color: var(--color-secondary);
  color: var(--text-dark);
  transition: background-color 0.3s ease, color 0.3s ease;
  padding-top:70px;
}

.navbar {
    background-color: var(--color-primary);
    border-bottom: 0.1rem solid var(--color-accent);
    color: var(--text-normal);
}

.navbar .btn {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.navbar-brand {
  color: var(--color-accent);
  font-size: 1.2rem;
}

#footer {
  min-height: 18rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--color-primary);
  color: var(--text-dark);
}

h1, h2, h3, h4 {
  font-family: var(--font-primary);
  color: var(--text-dark);
}

a {
  color: var(--text-normal);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.service-img {
  height: 250px; 
  object-fit: cover;
  width: 100%;
}

.copyright {
  color: var(--color-accent);
}

.card {
  background-color: var(--color-primary);
  border: 1px solid var(--text-normal);
}

.modal {
  background-color: var(--color-secondary);
  border: none;
  color: var(--text-dark)
}

.btn-custom-primary {
  background-color: var(--color-accent-dark);
  border-color: var(--color-accent-dark);
  color: var(--text-light);
}
.btn-custom-primary:hover {
  background-color: var(--color-primary);
  border-color: var(--color-accent-dark);
  color: var(--color --color-accent-dark);
}

.btn-custom-secondary {
  background-color: var(--color-primary);
  border-color: var(--color-accent-dark);
  color: var(--color --color-accent-dark);
}
.btn-custom-secondary:hover {
  background-color: var(--color-accent-dark);
  border-color: var(--color-accent-dark);
  color: var(--text-light);
}