<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Reedmakers</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item"><a class="nav-link" href="{% url 'reed_list' %}">Reeds</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'post_list' %}">Posts</a></li>
        </ul>
        <ul class="navbar-nav ms-auto">
          {% comment %} {% if user.is_authenticated %}
            <li class="nav-item"><span class="navbar-text me-2">Hej {{ user.username }}</span></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logga ut</a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Logga in</a></li>
          {% endif %} {% endcomment %}
          <li class="nav-item">
            <button id="themeToggle" class="btn btn-sm btn-outline-light ms-3">🌙</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  