<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" href="{% url 'home' %}">Reedstudio</a>

    <!-- Toggler (hamburger)  -->
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Right-aligned buttons on small screens -->
    <div class="d-flex d-lg-none ms-2">
      {% if user.is_authenticated %}
        <button class="btn btn-sm btn-custom-primary me-2" data-bs-toggle="modal" data-bs-target="#logoutModal">
          Log out
        </button>
      {% else %}
        <a class="btn btn-sm btn-custom-secondary me-2" href="{% url 'account_login' %}">Log in</a>
        <a class="btn btn-sm btn-custom-primary" href="{% url 'account_signup' %}">Register</a>
      {% endif %}
    </div>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Nav links (adjusted to the left) -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'reed_list' %}">Reeds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'post_list' %}">Blog</a>
        </li>
      </ul>

      <!-- Buttons adjusted to the right -->
      <div class="d-none d-lg-flex">
        {% if user.is_authenticated %}
          <button class="btn btn-sm btn-custom-primary me-2" data-bs-toggle="modal" data-bs-target="#logoutModal">
            Log out
          </button>
        {% else %}
          <a class="btn btn-sm btn-custom-secondary me-2" href="{% url 'account_login' %}">Log in</a>
          <a class="btn btn-sm btn-custom-primary" href="{% url 'account_signup' %}">Register</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>

<!-- Logout Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutModalLabel">Confirm Logout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to log out?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-custom-primary" data-bs-dismiss="modal">Cancel</button>
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-custom-secondary">Log out</button>
        </form>
      </div>
    </div>
  </div>
</div>